{% extends "base.twig" %}

{% block content %}

<div id="admin-index" class="admin">
    <div class="container-fluid">
        <div class="row">
            <h2 class="col-12">Les catégories</h2>
        </div>
    </div>
<div>
{% endblock %}