<tr>
    <td data-label="Id">{{ one.id }}</td>
    <td data-label="Nom">{{ one.name }}</td>
    <td data-label="Créé(e)">{{ one.created|date('d/m/Y') }}</td>
    <td data-label="Actions">
        <button class="btn btn-info btn-sm mr-2">Modifier</button>
        <button class="btn btn-danger btn-sm">Supprimer</button>
    </td>
</tr>